<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.PasswordResetTokenMapper">
    <insert id="insert">
        insert into password_reset_tokens (id, token, user_id, expiry_date, used) values(
          #{token.id},
          #{token.token},
          #{token.userId},
          #{token.expiryDate},
          #{token.used}
        )
    </insert>

    <update id="update">
        update password_reset_tokens
        set used = #{token.used}
        where id = #{token.id}
    </update>

    <delete id="deleteByUserId">
        delete from password_reset_tokens where user_id = #{userId}
    </delete>

    <select id="findByToken" resultMap="passwordResetToken">
        select id, token, user_id, expiry_date, used
        from password_reset_tokens
        where token = #{token}
    </select>

    <resultMap id="passwordResetToken" type="io.spring.core.user.PasswordResetToken">
        <id column="id" property="id"/>
        <result column="token" property="token"/>
        <result column="user_id" property="userId"/>
        <result column="expiry_date" property="expiryDate"/>
        <result column="used" property="used"/>
    </resultMap>
</mapper>
